<div class="container">

  <div class="box">

    <h1>Cases Page</h1>
    <hr>

    <div class="open-cases-top-bar">
      <h2>Open cases</h2>
      <button id="form_button" class="btn btn-ghost" onclick="showHide(event)">CREATE NEW CASE</button>
    </div>

    <br>

    <div>
      <% @cases.each do |c| %>

        <!-- store the client for listing in 1st box -->
        <% client = Client.find(c.client_id) %>
        <!-- store the infringement count for listing in 4th box -->
        <% infringement_count = c.infringements.count %>
        <!-- store the TOTOAL screenshot count for listing in 4th box -->
        <% screenshot_count = 0 %>
        <% c.infringements.each do |inf| %>
        <% screenshot_count += inf.snapshots.count %>
        <% end %>

        <div class="case-container-card">

          <!-- 1st box in Case card:  -->
          <div class="case-info-box first">
            <div>
              <h5>
                <%= link_to c.name, case_path(c) %>
              </h5>
              <p>
                #<%= c.number %>
              </p>
            </div>
          </div>
          <div class="horizontal-line"></div>


          <!-- 2nd box in Case card:  -->
          <div class="case-info-box second">
            <p class="truncate-overflow"><%= c.description[0..200] %></p>
          </div>
          <div class="horizontal-line"></div>


          <!-- 3rd box in Case card:  -->
          <div class="case-info-box third">
            <i class="fas fa-user"></i>&nbsp;<%= client.first_name %>&nbsp;<%= client.last_name %>
            <br>
            <i class="fas fa-clock"></i>&nbsp;<%= c.created_at.strftime("%d.%m.%Y") %>
          </div>
          <div class="horizontal-line"></div>


          <!-- 4th box in Case card:  -->
          <div class="case-info-box fourth">
            <i class="fas fa-file-alt"></i>&nbsp;<%= pluralize(infringement_count, 'infringement') %>
            <br>
            <i class="fas fa-info-circle"></i>&nbsp;<%= pluralize(screenshot_count, 'screenshot') %> total
          </div>

        </div>
      <% end %>
    </div>

    <br>
    <hr>
    <h2>Archived cases</h2>
    <br>

      <div id="show-form">
        <div class="form-content">
          <span class="close">&times;</span>
            <div class="form-container">
              <h2>Add a new case</h2>
              <%= simple_form_for @case do |f| %>
                <%= f.input :name, label: 'Name:' %>
                <%= f.input :number, label: 'Number:' %>
                <%= f.input :description, label: 'Description:' %>
                <%= f.simple_fields_for :clients do |m| %>
                  <%= m.input :first_name, label: 'First name:' %>
                  <%= m.input :last_name, label: 'Last name:' %>
                <% end %>
                <%= f.submit "Add a new case", class: "btn btn-ghost" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
