<div class="container">
  <div class="cases">

  <div class="open-cases-top-bar">
    <h1>CASES</h1>
    <button id="form_button" class="btn-blue" onclick="showHide(event)">Create New Case</button>
  </div>
  <br>

  <div class="mainbox-cases">
    <div class="window-cases">


<% @cases.each do |c| %>

    <!-- store the client for listing in 1st box -->
    <% client = Client.find(c.client_id) %>
    <!-- store the infringement count for listing in 4th box -->
    <% infringement_count = c.infringements.count %>
    <!-- store the TOTAL screenshot count for listing in 4th box -->
    <% flag = false %>
    <% screenshot_count = 0 %>
    <% c.infringements.each do |inf| %>
      <% event_check = Event.where(infringement_id: inf.id).first %>
      <% if !event_check.nil? && event_check.frequency.positive? %>
        <% flag = true %>
      <% end %>
      <% screenshot_count += inf.snapshots.count %>
      <% end %>

      <div class="link-to-text-decoration">
        <%= link_to case_path(c) do %>
          <div class="case-container-card">
               <!-- 1st box in Case card: NAME & CASENUMBER -->
              <div class="case-top-card">
                <h5 id="h5-style">

                        <%= c.name %>

                </h5>
              </div>
              <div class="case-bottom-card">
                <div class="case-info-box first">
                  <div>
                    <span>
                      # <%= c.number %>
                    </span>
                    <div class="case-title">
                        <% if flag === true %>
                          <span><i class="fas fa-sync" style="color:mediumseagreen; font-size: 14px;"></i></span>
                        <% else %>
                          <span><i class="far fa-stop-circle" style="color:red; font-size: 15px;"></i></span>
                        <% end %>
                    </div>
                  </div>
                </div>
                <!-- <div class="horizontal-line"></div> -->


                <!-- 2nd box in Case card: FIRSTNAME, LASTNAME, DATE -->
                <div class="case-info-box third">
                  <div class="case-info-box-legend">
                    <span><i class="fas fa-user"></i></span>
                    <span><i class="fas fa-clock"></i></span>
                  </div>
                  <div class="case-info-box-values">
                    <span><%= client.first_name %>&nbsp;<%=  " " + client.last_name %></span>
                    <span><%= c.created_at.strftime("%d.%m.%Y") %></span>
                  </div>
                </div>
                <!-- <div class="horizontal-line"></div> -->


                <!-- 3rd box in Case card:  NUMBER OF INFRINGEMENTS & TOTAL SCREENSHOTS-->
                <div class="case-info-box fourth">
                  <div class="case-info-box-legend">
                    <span><i class="fas fa-file-alt"></i></span>
                    <span><i class="fas fa-info-circle"></i></span>
                  </div>
                  <div class="case-info-box-values">
                    <span><%=  pluralize(infringement_count, 'Infringing Page') %></span>
                    <span><%=  pluralize(screenshot_count, 'Total Screenshot') %></span>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>


    </div>
    <div class="sidebar-cases">
      <div class="statistics-cases">
        <div>
          <span><strong>My Statistics</strong></span>
        </div>
        <div class="statistics-details-cases">
          <div class="basic-info-legend">
            <span>Cases opened:</span>
            <span>Infringements:</span>
            <span>Monitoring:</span>
          </div>
          <div class="basic-info-values">
            <span><%= @cases.count %></span>
            <span><%= @cases.first.user.infringements.count %></span>
            <span><i class="fas fa-sync fa-spin" style="color:green"></i> <%= @active %> / <i class="far fa-stop-circle" style="color:red"></i> <%= @pasive %></span>
          </div>
        </div>
      </div>
      <% credits_used = 0 %>
      <% @my_snapshots.each do |one_snap| %>
        <% if one_snap.infringement.case.user == current_user %>
          <% credits_used += 1 %>
        <% end %>
      <% end %>
      <% credits_percent = (credits_used / 400.0 * 100).round %>
      <div class="statistics-cases">
        <div>
          <span><strong>My Credits</strong></span>
        </div>
        <div class="statistics-details-cases">
          <div class="basic-info-legend">
            <span>Total credits:</span>
            <span>Credits used:</span>
            <span>Snapshots created:</span>
          </div>
          <div class="basic-info-values">
            <span>400 <i class="fas fa-coins" style="color:#ffb600"></i></span>
            <span><%= credits_used %> <i class="fas fa-coins" style="color:#ffb600"></i> (<%= credits_percent %>%)</span>
            <span><%= @snapshots_count %></span>
          </div>
        </div>
      </div>
      <div class="latest-cases">
        <div class="latest-title-cases">
          <span><strong>Latest Snapshots</strong></span>
        </div>
        <% index = 0 %>
        <% @latest_snapshots.each do |snapshot| %>
          <%= render partial: "latest_screenshot", locals: { snapshot: snapshot, base_url: @base_urls[index] } %>
          <% index += 1 %>
        <% end %>
      </div>
    </div>

  </div>




  <!-- Open cases header with NEW CASE Button -->


  <!-- Iterate through and display each case in a CARD -->


    <div id="page-mask"></div>

    <div id="show-form">
      <div class="form-content">
        <span class="close">&times;</span>
          <div class="form-container">
            <h2>Add a new case</h2>
            <%= simple_form_for @case do |f| %>
              <%= f.input :name, label: 'Name:' %>
              <%= f.input :number, label: 'Number:' %>
              <%= f.input :description, label: 'Description:' %>
              <%= f.simple_fields_for :clients do |m| %>
                <%= m.input :first_name, label: 'First name:' %>
                <%= m.input :last_name, label: 'Last name:' %>
              <% end %>
              <%= f.submit "Add a new case", class: "btn btn-ghost" %>
            <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

</div>
