<div class="container">

  <div class="box">

    <h1>Cases Page</h1>
    <hr>

    <div class="open-cases-top-bar">
      <h2>Open cases</h2>
      <button id="form_button" class="btn btn-ghost" onclick="showHide(event)">CREATE NEW CASE</button>
    </div>

    <br>

    <!-- Iterate through and display each case in a CARD -->
    <% @cases.each do |c| %>

      <!-- store the client for listing in 1st box -->
      <% client = Client.find(c.client_id) %>
      <!-- store the infringement count for listing in 4th box -->
      <% infringement_count = c.infringements.count %>
      <!-- store the TOTAL screenshot count for listing in 4th box -->
      <% flag = false %>
      <% screenshot_count = 0 %>
      <% c.infringements.each do |inf| %>
        <% event_check = Event.where(infringement_id: inf.id).first %>
        <% if !event_check.nil? && event_check.frequency.positive? %>
          <% flag = true %>
        <% end %>
      <% screenshot_count += inf.snapshots.count %>
      <% end %>
    <%= link_to case_path(c) do %>
      <div class="case-container-card">
          <p>hello wolrd wolrd</p>
      </div>
    <% end %>
    <% end %>

    <br>
    <hr>
    <h2>Archived cases</h2>
    <br>

      <div id="show-form">
        <div class="form-content">
          <span class="close">&times;</span>
            <div class="form-container">
              <h2>Add a new case</h2>
              <%= simple_form_for @case do |f| %>
                <%= f.input :name, label: 'Name:' %>
                <%= f.input :number, label: 'Number:' %>
                <%= f.input :description, label: 'Description:' %>
                <%= f.simple_fields_for :clients do |m| %>
                  <%= m.input :first_name, label: 'First name:' %>
                  <%= m.input :last_name, label: 'Last name:' %>
                <% end %>
                <%= f.submit "Add a new case", class: "btn btn-ghost" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
