<div class="container">

  <button id="form_button" class="btn btn-ghost float-right" onclick="showHide(event)">Add New Infringement</button>
  <div class="case">
    <h1><%= @case.name %></h1>
    <h2><%= @case.number %></h2>
    <div class="case-description">
      <h3>Description:</h3>
      <p><%= @case.description %></p>
    </div>


  <h2>Infringements</h1>
 </div>

  <div id="show-form">
    <div class="form-content">
      <span class="close">&times;</span>
        <div class="form-container">
          <%= simple_form_for [@case, @infringement] do |f| %>
            <%= f.input :url, label: 'Url:' %>
            <%= f.input :name, label: 'Name:' %>
            <%= f.input :interval, label: 'Interval:' %>
            <%= f.input :description, label: 'Comment(description):' %>

            <%= f.submit "Add new infringement", class: "btn btn-ghost" %>
          <% end %>
       </div>
      </div>
    </div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">

    <% @case.infringements.each do |x| %>
      <h2> <%= x.url %> </h2>
      <p> <%= x.interval %> </p>
      <p> <%= x.description %></p>
    <% end %>
  </div>
</div>




<% @case.infringements.each do |x| %>

    <%= x.url %>
    <%= x.name %>
    <%= x.interval %>
    <%= x.description %>
<% end %>


</div>
