<div class="container">

  <div class="case">
    <h1><%= @case.name %></h1>
    <h2><%= @case.number %></h2>

    <p><%= @case.description %></p>


  <h2>Infringements</h1>
 </div>

  <div id="show-form">
    <div class="form-content">
      <span class="close">&times;</span>
        <div class="form-container">
          <%= simple_form_for [@case, @infringement] do |f| %>
            <%= f.input :url, label: 'Url:' %>
            <%= f.input :name, label: 'Name:' %>
            <%= f.input :interval, label: 'Interval:' %>
            <%= f.input :description, label: 'Comment(description):' %>

            <%= f.submit "Add new infringement", class: "btn btn-primary" %>
          <% end %>
       </div>
      </div>
    </div>
  </div>

<% @case.infringements.each do |x| %>

    <%= x.url %>
    <%= x.name %>
    <%= x.interval %>
    <%= x.description %>

<% end %>
<button id="form_button" class="btn btn-primary float-right" onclick="showHide(event)">Add New Infringement</button>
</div>
