<div class="container">
  <div class="box">
    <div class="case">
      <div class="case-title">
        <div class="case-title-box">
          <h1><%= @case.name.upcase %></h1>
          <h2><%= @case.number %></h2>
        </div>
        <div class="case-title-buttons">
          <button id="form_button_edit" class="btn btn-ghost float-right" onclick="showHideEdit(event)">Edit Case</button>
          <%= link_to "Delete Case", case_path(@case),  method: :delete, data: { confirm: "Are you sure?" }, id: "delete-btn", class: "btn btn-ghost btn-ghost-w120px"%>
        </div>
      </div>
      <div class="case-description">
        <h3>Description</h3>
            <div class="box-description">

                      <div class="info-group">
                        <div class="basic-info-legend">
                          <span>Created:</span>
                          <span>Infringements:</span>
                          <span>Monitoring:</span>
                        </div>
                        <div class="basic-info-values">
                          <span><%= @case.created_at.strftime("%F") %></span>
                          <span><%= @case.infringements.count %> page(s), <%= @number_of_records %> record(s)</span>
                          <% if @active_pages.zero? %>
                            <span>Stopped</span>
                          <% else %>
                            <span>Active, <%= @active_pages %> page(s)</span>
                          <% end %>
                        </div>
                      </div>

                      <div class="description-group">
                        <div class="basic-info-legend-description">
                          <span>Description:</span>
                        </div>
                        <div class="basic-info-description">
                          <p><%= @case.description %></p>
                        </div>
                      </div>
            </div>
      </div>


      <div class="case-infringements">
        <div class="case-infr-title">
          <h3>Infringements</h3>
          <div class="case-infr-btn">
            <button id="form_button" class="btn btn-ghost float-right" onclick="showHide(event)">Add New Infringement</button>
          </div>
        </div>

        <div id="show-form">
          <div class="form-content">
            <span class="close">&times;</span>
              <div class="form-container">
                <%= simple_form_for [@case, @infringement] do |f| %>
                  <%= f.input :url, label: 'Url:' %>
                  <%= f.input :name, label: 'Name:' %>
                  <%= f.input :interval, label: 'Interval:', collection: ["1 snapshot", "1 minute", "2 minutes", "10 minutes", "20 minutes", "30 minutes", "1 hour",
                        "2 hours", "3 hours", "4 hours", "5 hours", "6 hours", "7 hours",
                        "8 hours", "9 hours", "10 hours", "11 hours", "12 hours", "1 day",
                        "2 days", "3 days", "4 days", "5 days", "6 days", "7 days", "8 days",
                        "9 days", "10 days", "11 days", "12 days", "13 days", "14 days",
                        "15 days", "1 month", "2 months", "3 months", "4 months",
                        "5 months", "6 months", "1 year"]
                  %>
                  <%= f.input :description, label: 'Comment(description):' %>

                  <%= f.submit "Add new infringement", class: "btn btn-ghost" %>
                <% end %>
              </div>
          </div>
        </div>
        <div class="case-infringements-cards">
        <% @case.infringements.each do |infr| %>

          <div class="infr-card">
            <a href="/cases/<%= @case.id %>/infringements/<%= infr.id %>">
            <div class="infr-card-image">
              <% if infr.snapshots.first.present? %>
                <%= cl_image_tag(infr.snapshots.first.image_path,
                          transformation: [
                            {width: 253, crop: "scale"},
                            {gravity: "north", height: 253, width: 253, y: 15, crop: "crop"}
                          ])
                    %>
              <% else %>
                <%= cl_image_tag("https://res.cloudinary.com/os00/image/upload/v1575039087/placeholder_jtvph3.png")%>
              <% end %>
            </div>
            <div class="infr-card-url">
              <span><%= infr.name %></span>
            </div>
            <div class="infr-card-infobox">
              <div class="infr-card-infobox-a">
                <i class="far fa-image"><span><%= infr.snapshots.count %>x</span></i>
                <i class="far fa-clock"><span><%= infr.interval %></span></i>
              </div>
              <div class="infr-card-infobox-b">
                <% if infr.event.frequency.positive? %>
                  <i class="fas fa-sync" style="color:mediumseagreen"><span>Running</span></i>
                <% else %>
                  <i class="fas fa-sync" style="color:mediumseagreen"><span>Stopped</span></i>
                <% end %>
              </div>
            </div>
            </a>
          </div>

        <% end %>
        </div>


      </div>
    </div>
  </div>
</div>
