<div class="container">

  <button id="form_button" class="btn btn-ghost float-right" onclick="showHide(event)">Add New Infringement</button>

  <div class="case">
    <h1><%= @case.name %></h1>
    <h2><%= @case.number %></h2>
    <div class="case-description">
      <h3>Description:</h3>
      <p><%= @case.description %></p>
    </div>
  </div>


  <h2>Infringements</h1>

  <div id="show-form">
    <div class="form-content">
      <span class="close">&times;</span>
        <div class="form-container">
          <%= simple_form_for [@case, @infringement] do |f| %>
            <%= f.input :url, label: 'Url:' %>
            <%= f.input :name, label: 'Name:' %>
            <%= f.input :interval, label: 'Interval:', collection: ["1 snapshot", "1 minute", "2 minutes", "10 minutes", "20 minutes", "30 minutes", "1 hour",
                  "2 hours", "3 hours", "4 hours", "5 hours", "6 hours", "7 hours",
                  "8 hours", "9 hours", "10 hours", "11 hours", "12 hours", "1 day",
                  "2 days", "3 days", "4 days", "5 days", "6 days", "7 days", "8 days",
                  "9 days", "10 days", "11 days", "12 days", "13 days", "14 days",
                  "15 days", "1 month", "2 months", "3 months", "4 months",
                  "5 months", "6 months", "1 year"]
            %>
            <%= f.input :description, label: 'Comment(description):' %>

            <%= f.submit "Add new infringement", class: "btn btn-ghost" %>
          <% end %>
        </div>
    </div>
  </div>

<div class="cards">
  <% @case.infringements.each do |x| %>
    <div class="card-product">
      <% if x.snapshots.first.present? %>
      <%= cl_image_tag(x.snapshots.first.image_path) %>
      <% else %>
      <% end %>
      <div class="card-product-infos">
        <h2> <%= link_to x.url, case_infringement_path(@case, x) %> </h2>
        <p> <%= x.interval %> </p>
        <p> <%= x.description %></p>
      </div>
    </div>
  <% end %>
</div>

</div>
