<div class="container">

  <button id="form_button" class="btn btn-ghost float-right" onclick="showHide(event)">Add New Infringement</button>

  <div class="case">
    <h1><%= @case.name %></h1>
    <h2><%= @case.number %></h2>
    <div class="case-description">
      <h3>Description:</h3>
      <p><%= @case.description %></p>
    </div>
  </div>


  <h2>Infringements</h1>

  <div id="show-form">
    <div class="form-content">
      <span class="close">&times;</span>
        <div class="form-container">
          <%= simple_form_for [@case, @infringement] do |f| %>
            <%= f.input :url, label: 'Url:' %>
            <%= f.input :name, label: 'Name:' %>
            <%= f.input :interval, label: 'Interval:' %>
            <%= f.input :description, label: 'Comment(description):' %>

            <%= f.submit "Add new infringement", class: "btn btn-ghost" %>
          <% end %>
        </div>
    </div>
  </div>

<div class="cards">
  <% @case.infringements.each do |x| %>
    <div class="card-product">
      <%= cl_image_tag(x.snapshots.first.image_path) %>
      <div class="card-product-infos">
        <h2> <%= link_to x.url, case_infringement_path(x) %> </h2>
        <p> <%= x.interval %> </p>
        <p> <%= x.description %></p>
      </div>
    </div>
  <% end %>
</div>

</div>
