<div class="container">
  <div class="box">
    <h1><%= @infringement.name %></h1>
    <h2></h2>
    <div class="container p-3 m-3" style ="background-color: lightgrey">
      <div class="d-flex justify-content-between">
        <div>This is <em><%= @infringement.url %></em> as available online at <%= @infringement.created_at %>.</div>
        <div class="float-right">
        <!-- saving option -->
        <a href="<%= cl_image_path(@snapshot.image_path) %>"><i class="fas fa-file-export"></i></a>
        <!-- printing option -->
         <a href="#" onclick="window.print();return false;"><i class="fas fa-print"></i></a></div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <%= cl_image_tag @snapshot.image_path  %>
    </div>
    <div class="container p-3 m-3" style ="background-color: lightgrey">
      The authenticity of this screenshot is guaranteed by Cerberus - the online standard for copyright infringement documentation. Read more at http://cerberus.legal/about
    </div>
  </div>
</div>
