<div class="container">
  <div class="infringement">
    <div class="infringement-case">
      <div class="infringement-title">
        <h1><%= @infringement.case.name.upcase %> </h1>
        <h2><%= @infringement.case.number %></h2>
      </div>

    <div class="infringement-snapshot-titlebox">
      <div class="infringement-snapshot-titlebox-title">
        <h3>Snapshots</h3>
      </div>
      <div class="select-container">
        <div class="select-menu-infringement">
          <div class="selected-icon"><i class="far fa-check-square"></i></div>
          <div class="selected-text"><span>Selected</span></div>
          <div class="selected-divider"></div>
          <button id="select-button" class="btn-ghost">Select All</button>
          <button id="deselect-button" class="btn-ghost">Deselect All</button>
          <button id="invert-button" class="btn-ghost">Invert Selection</button>
        </div>
        <div class="select-empty">
        </div>
      </div>
    </div>
    </div>
    <div>

      <div class="infringement-side-and-snapshots">
        <div class="infringement-sidebar flex-item-buttons">
          <div class="infringement-info">
            <div>
              <span><strong>Infringement Info</strong></span>
            </div>
            <div class="infringement-info-details">
              <div class="basic-info-legend">
                <span>Created:</span>
                <span>Tracked:</span>
                <span>Records:</span>
              </div>
              <div class="basic-info-values">
                <span><%= @infringement.created_at.strftime("%F") %></span>
                <span><%= @tracked_for %></span>
                <span><%= @infringement.snapshots.count %></span>
              </div>
            </div>
          </div>
          <div class="infringement-buttons-general">
            <button id="snapshot-button" class="btn btn-ghost btn-margin">Take Snapshot</button>
            <button id="export-button" class="btn btn-ghost btn-margin">Export All</button>
            <%= link_to "Delete", case_infringement_path, method: :delete, class: "btn btn-ghost select-margin" %>
            <% if @infringement.interval == "1 snapshot" %>
              <%= select_tag "select-timer", options_for_select(@timer_values, "1 year"), class: "select-box btn-margin" %>
              <button id="play-button" class="btn btn-ghost">Start</button>
            <% elsif @state %>
              <%= select_tag "select-timer", options_for_select(@timer_values, @infringement.interval), class: "select-box btn-margin", disabled: true%>
              <button id="play-button" class="btn btn-ghost">Stop</button>
            <% else %>
              <%= select_tag "select-timer", options_for_select(@timer_values, @infringement.interval), class: "select-box btn-margin",  disabled: false%>
              <button id="play-button" class="btn btn-ghost">Start</button>
            <% end %>
          </div>
        </div>
        <div class="infringement-snapshots">
          <% if @infringement.snapshots.empty? %>
            <div class="card-trip-empty">
              <span>First screenshot will be available soon</span>
            </div>
          <% else %>
            <% @infringement.snapshots.each do |snapshot| %>

              <%= render partial: "snapshot_card", locals: { snapshot: snapshot } %>

            <% end %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
